[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "SDL_image"]
	path = SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "pbar"]
	path = pbar
	url = https://github.com/estshorter/pbar.git
[submodule "color-util"]
	path = color-util
	url = https://github.com/yuki-koyama/color-util.git
